* {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

body {
    background-image: url("bradpitt.jpg");  
    background-color: #cccccc; 
}

h1 {
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: white;
}

h1 span {
    background-color: black;
    padding: 0px 20px 0px 20px;
}

form {
    text-align: center;
}

input {
    height: 43px;
    width: 350px;
    font-size: 18px;
    border-style: double;
    border-color: black;
    margin-right: 20px;
}

select, button {
    height: 50px;
    width: 150px;
    text-align: center;
    font-size: 18px;
    border-radius: 0;
    border-style: double;
    border-color: black;

}

button {
    background-color: white;
    margin-left: 20px;
}